Repository eu-digital-identity-wallet/eudi-lib-jvm-siop-openid4vp-kt, pull requests merged in 2024-04, with the labels that each got.

#225 Group and limit dependabot PRs.
  .github/dependabot.yml
Labels: feature, github actions

#233 Properly base64-url-encode 'apv' header in JARM.
  src/main/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/JarmJwt.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/DefaultDispatcherTest.kt
Labels: bug

#234 Introduce MsoMdoc VpToken and add 'apv' and 'apu' JWE header claims o…
  src/main/kotlin/eu/europa/ec/eudi/openid4vp/Types.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/DefaultResponseDispatcher.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/JarmJwt.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vp/Example.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/AuthorizationResponseBuilderTest.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/AuthorizationResponseDispatcherTest.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vp/internal/response/DefaultDispatcherTest.kt
Labels: bug, feature

#240 Fix gradle-build-action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: dependencies, github actions
